body {
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
    position:static;}
    h1 {
    background-color: #efefef;
    padding: 10px;}
    p {
    width: 450px;
}
p.exa{
    position: relative;
    top:10px;
    left:100px;
}
.absolute{
    position: absolute;
    top: 0px;
    left: 500px;
    width: 300px;}
p.absolu{
        width: 450px;
    }
.fixed{
    position:fixed;
    top: 0px;
    left: 50px;
    padding: 10px;
    margin: 0px;
    width: 100%;
    background-color: #962a2a;
}
p.fixa{
    margin-top: 100px;
}h1.titindx{
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 10px;
    width: 100%;
    background-color: #000000;
    z-index: 10px;}
    p.inx {
    position: relative;
    top: 70px;
    left: 70px;}/*
blockquote {
        float: right;
        width: 275px;
        font-size: 130%;
        font-style: italic;
        font-family: Georgia, Times, serif;
        margin: 0px 0px 10px 10px;
        padding: 10px;
        border-top: 1px solid #665544;
        border-bottom: 1px solid #665544;}
            .elementsidebyside {
            width: 750px;
            font-family: Arial, Verdana, sans-serif;
            color: #665544;
            margin-top: 200px;}
            p {
            width: 230px;
            float: left;
            margin: 5px;
            padding: 5px;
            background-color: #d17777;}
.clearf {
 width: 750px;
 font-family: Arial, Verdana, sans-serif;
color: #665544;
margin-top: 150px;}
p {
width: 230px;
float: left;
margin: 5px;
padding: 5px;
background-color: #8f8da5;}
.clear {
clear: left;}
*/
.criandocolunas{
    margin-top: 250px;
    border: 3px solid black;
    border-radius: 10px;
}
.coluna1, .centro, .coluna3{
    width: 400px;
    float: left;
    margin: 10px;
}
h2.sdasfadgmnamsd{
    margin-left: 500px;
}